<link rel="import" href="./bower_components/polymer/polymer.html">
<link rel="import" href="./datetime-picker.html">

<dom-module id="datetime-input">

	<template>

		<style type="text/css">
		    
            :host {
                /*display: block;
                width: 280px;
    
                font-family: Segoe UI;
                font-size: 14px;*/
                
                --primary-color: #1cb4bb;
            }

		</style>
        
        <div id="input" on-click="onDateClicked">[[dateConverter(value)]]</div>
        <datetime-picker id="picker" value="{{value}}" no-overlap horizontal-align="left" vertical-align="top"></datetime-picker>
        
	</template>

	<script>
        
		Polymer(
        {
            // properties
            properties:
            {
                value: { type: Object, value: new Date(), notify: true }
            },
            
            //lifecycle
            attached: function()
            {
                this.$.picker.positionTarget = this.$.input;
            },
            
            // converters
            dateConverter: function(date)
            {
                return date.toLocaleDateString() + " " + date.toLocaleTimeString();
            },
            
            // event listeners
            onDateClicked: function()
            {
                this.$.picker.open();
                this.$.picker.init();
            }
        });
        
        // Listen for resize and scroll on window.
        // window.addEventListener('resize', template.refit);
        // window.addEventListener('scroll', template.refit);

	</script>

</dom-module>
