<link rel="import" href="./bower_components/polymer/polymer.html">
<link rel="import" href="./bower_components/iron-overlay-behavior/iron-overlay-behavior.html">
<link rel="import" href="./bower_components/iron-fit-behavior/iron-fit-behavior.html">

<dom-module id="datetime-picker">

	<template>

		<style type="text/css">
		    
            :host {
                display: block;
                width: 290px;
    
                font-family: Segoe UI;
                font-size: 14px;
            }
            
            .monthAndYear {
                display: flex;
                padding: 10px 10px 0 10px;
                
                font-size: 18px;

                color: white;
                background: var(--primary-color);
            }
            
            .prevMonth, .nextMonth {
                cursor: pointer;
            }
            
            .currentMonthAndYear {
                flex: 1;
                
                text-align: center;
            }
            
            .currentMonth {
                font-weight: bold;
            }
            
            .currentYearInput {
                border: none;
                font-size: inherit;
                font-family: inherit;
                background: none;
                color: white;
                outline: none;
                width: 3.2em;
            }
            
            .currentYearInput:hover {
                background: lightgray;
            }
            
            .weekdays {
                display: flex;
                padding: 0 4px;
                
                color: white;
                background: var(--primary-color);
            }
            
            .weekday {
                width: 40px;
                height: 40px;
                
                line-height: 38px;
                text-align: center;
            }
            
            .weeks {
                padding: 4px;
                
                border-left: 1px solid lightgray;
                border-right: 1px solid lightgray;
            }
            
            .week {
                display: flex;
            }
            
            .day {
                width: 40px;
                height: 40px;
                
                line-height: 38px;
                text-align: center;
                
                border-radius: 50%;
                
                cursor: pointer;
            }
            
            .day:hover {
                background: lightgray;
            }
            
            .day.selected {
                color: white;
                background: var(--primary-color);
            }
            
            .time {
                display: flex;
                
                line-height: 38px;
                
                border: 1px solid lightgray;
            }
            
            .time > input {
                flex: 1;
                box-sizing: border-box;
                height: 38px;
                width: 50%;

                font-size: inherit;
                font-family: inherit;
                text-align: center;
                line-height: inherit;

                border: none;
                background: none;
                outline: none;
            }
            
            .time > input:hover {
                background: lightgray;
            }

		</style>
                    
        <div class="monthAndYear">
            <div class="prevMonth" on-click="onPrevMonthClicked"><</div>
            <div class="currentMonthAndYear">
                <span class="currentMonth">[[monthToNameConverter(month)]] </span>
                <!-- <span class="currentYear">[[year]]</span> -->
                <input class="currentYearInput" type="text" min="1970" max="9999" value="{{year::change}}"/>
            </div>
            <div class="nextMonth" on-click="onNextMonthClicked">></div>
        </div>
        
        <div class="weekdays">
            <template is="dom-repeat" items="[0, 1, 2, 3, 4, 5, 6]">
                <div class="weekday">[[dayToNameConverter(item)]]</div>
            </template>
        </div>
        
        <div class="weeks">
            <template is="dom-repeat" items="[[weeks]]">
                <div class="week">
                    <template is="dom-repeat" items="[[item]]">
                        <div class$="day[[selectedDayConverter(item, selectedDay)]]" on-click="onDayClicked">[[item]]</div>
                    </template>
                </div>
            </template>
        </div>
        
        <div class="time">
            <input type="text" min="01" max="23" step="1" value="{{selectedHour::change}}"/>
            <div>:</div>
            <input type="text" min="00" max="59" step="5" value="{{selectedMinute::change}}"/>
        </div>
        
	</template>

	<script>

        const MONTH_NAMES = ["Januar", "Februar", "März", "April", "Mai", "Juni", "Juli", "August", "September", "Oktober", "November", "Dezember"];
        const DAY_NAMES = ["Montag", "Dienstag", "Mittwoch", "Donnerstag", "Freitag", "Samstag", "Sonntag"];
        const SHORT_DAY_NAMES = ["Mo", "Di", "Mi", "Do", "Fr", "Sa", "So"];
        const DAYS_IN_MONTH = [31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31];
        
		Polymer(
        {
            // properties
            properties:
            {
                value: { type: Object, notify: true },
                
                selectedYear: { type: Number },
                selectedMonth: { type: Number },
                selectedDay: { type: Number },
                selectedHour: { type: Number, observer: "timeChanged" },
                selectedMinute: { type: Number, observer: "timeChanged" },
                
                month: { type: Number, observer: "monthOrYearChanged" },
                year: { type: Number, observer: "monthOrYearChanged" },
                weeks: { type: Object }
            },
            
            // behaviors
            behaviors: [ Polymer.IronOverlayBehavior, Polymer.IronFitBehavior ],
            
            // lifecycle
            attached: function()
            {
                // non ie browsers => input type = number
                if(!window.MSStream)
                {
                    let inputs = this.querySelectorAll("input");
                    
                    for(let i = 0; i < inputs.length; i++)
                    {
                        inputs[i].type = "number";
                    }
                }
            },
            
            // public api
            init: function()
            {
                this.selectedYear = this.value.getFullYear();
                this.selectedMonth = this.value.getMonth();
                this.selectedDay = this.value.getDate();
                this.selectedHour = this.value.getHours();
                this.selectedMinute = this.value.getMinutes();
                
                this.year = this.selectedYear;
                this.month = this.selectedMonth;
                
                this.createCalendar(this.value);
            },
            
            // converters
            dayToNameConverter: function(day)
            {
                return SHORT_DAY_NAMES[day];
            },
            
            monthToNameConverter: function(month)
            {
                return MONTH_NAMES[month];
            },
            
            selectedDayConverter: function(day, selectedDay)
            {
                if(this.year == this.value.getFullYear() && this.month == this.value.getMonth() && day == selectedDay)
                {
                    return " selected";
                }
                
                return "";
            },
            
            // observers
            timeChanged: function()
            {
                if(this.selectedHour && this.selectedMinute)
                {
                    this.setValue();
                }
            },
            
            monthOrYearChanged: function()
            {
                this.createCalendar(new Date(this.year, this.month, 1));
            },
            
            // event listeners
            onPrevMonthClicked: function()
            {
                this.month--;
                
                if(this.month < 0)
                {
                    this.month = 11;
                    this.year--;
                }
            },
            
            onNextMonthClicked: function()
            {
                this.month++;
                
                if(this.month > 11)
                {
                    this.month = 0;
                    this.year++;
                }
            },
            
            onDayClicked: function(event)
            {
                if(event.model.item != "")
                {
                    this.selectedYear = this.year;
                    this.selectedMonth = this.month;
                    this.selectedDay = event.model.item;
                    
                    this.setValue();
                }
            },
            
            // calendar functions
            setValue: function()
            {
                this.value = new Date(this.selectedYear, this.selectedMonth, this.selectedDay, this.selectedHour, this.selectedMinute, 0);
            },
            
            createCalendar: function(date)
            {
                let startDay = this.getFirstDayInMonth(date);
                let dayCount = this.getNumberOfDaysInMonth(date);
                
                let weeks = [];
                let currentDay = 1;
                
                // let selectedDay = this.value.getDate();
                
                for(let week = 0; week < 6; week++)
                {
                    weeks[week] = [];
                    
                    for(let day = 0; day < 7; day++)
                    {
                        if(week == 0 && day < startDay)
                        {
                            weeks[week][day] = "";
                        }
                        else if(currentDay > dayCount)
                        {
                            weeks[week][day] = "";
                        }
                        else
                        {
                            // weeks[week][day] = { day: currentDay, class: currentDay == selectedDay ? "selected" : "" };
                            
                            // currentDay++;
                            
                            weeks[week][day] = currentDay++;
                        }
                    }
                }
                
                this.weeks = weeks;
            },
            
            getNumberOfDaysInMonth: function(date)
            {
                let year = date.getYear();
                let month = date.getMonth();
                
                if(month == 1 && ((year % 4 == 0 && year % 100 != 0) || year % 400 == 0))
                {
                    return 29;
                }

                return DAYS_IN_MONTH[month];
            },
            
            getFirstDayInMonth: function(date)
            {
                let day = new Date(date.getFullYear(), date.getMonth(), 1).getDay();
                
                // sunday = 6 instead of 0
                if(day == 0)
                {
                    return 6;
                }
                
                return day - 1;
            }
            
            // getNumberOfWeeksInMonth: function(date)
            // {
            //     let firstDay = this.getFirstDayInMonth(date);
            //     let numberOfDays = this.getNumberOfDaysInMonth(date);
            //
            //     return Math.ceil((numberOfDays + firstDay - 1) / 7);
            // }
        });

	</script>

</dom-module>
